<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
      </div>
      <%= bootstrap_form_for :login, url: login_path do |f| %>
        <div class="panel-body">
          <%= f.text_field :email %>
          <%= f.password_field :password %>
        </div>
        <div class="panel-footer">
          <%= f.submit "Login", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <%= flash_messages %>
  </div>
</div>

