<div class="columns">
  <div class="column is-4 is-offset-4">
    <%= flash_messages %>
    <div class="has-text-centered">
    <%= image_tag "logo.svg" %>
    </div>
    <div class="">
      <%= form_for :login, url: login_path do |f| %>
        <%= f.text_field :email, class: "control input", placeholder: "Email" %>
        <%= f.password_field :password, class: "control input", placeholder: "Password" %>
        <%= f.submit "Login", class: "button is-primary is-fullwidth control" %>
      <% end %>
    </div>
  </div>
</div>
