<div class="columns servers">
  <div class="column is-8 is-offset-2">
    <h1 class="title">Setup for <%= @server.name %></h1>
    <div class="<%= "is-hidden" if @server.up? %>" data-server-status="checking">
      <div class="box">
      <p class="content">We are installing your server. This can take around 10 minutes</p>
        <div class="columns">
          <div class="column">
          <progress class="progress is-success" value="0" max="100"></progress>
          </div>
        </div>
        <div class="columns installing">
          <div class="step step1">
            <div class="step-number">1.</div>
            Updating packages
          </div>
          <div class="step step2">
            <div class="step-number">2.</div>
            Installing Docker
          </div>
          <div class="step step3">
            <div class="step-number">3.</div>
            Installing Dokku
          </div>
          <div class="step step4">
            <div class="step-number">4.</div>
            Importing base image
          </div>
        </div>
      </div>
    </div>
    <div class="box has-text-centered <%= "is-hidden" unless @server.up? %>" data-server-status="connected">
      <p>The server is installed and ready to go!</p>
      <%= link_to "Add your first app", server_path(@server), class: "button is-primary" %>
    </div>
  </div>
</div>

<script>
  <% if @server.installing? %>
    var poller = new ServerPoller("<%= check_installation_server_path(@server) %>");
    poller.poll();
  <% end %>
</script>
