<div class="columns servers">
  <div class="column is-8 is-offset-2">
    <h1 class="title">Setup for <%= @server.name %></h1>
    <div class="<%= "is-hidden" if @server.up? %>" data-server-status="checking">
      <p>We are installing your server. This can take around 10 minutes</p>
      <div class="box">
        <div class="columns">
          <div class="column is-half is-offset-one-quarter installing">
            <div class="step step1 is-info">
              <div class="column is-2"><%= icon "circle-o-notch fa-spin" %></div>
              <div class="column auto">Updating packages</div>
            </div>
            <div class="step step2">
              <div class="column is-2"><%= icon "square-o" %></div>
              <div class="column auto">Installing Docker</div>
            </div>
            <div class="step step3">
              <div class="column is-2"><%= icon "square-o" %></div>
              <div class="column auto">Installing Dokku</div>
            </div>
            <div class="step step4">
              <div class="column is-2"><%= icon "square-o" %></div>
              <div class="column auto">Importing base image</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box has-text-centered <%= "is-hidden" unless @server.up? %>" data-server-status="connected">
      <p>The server is installed and ready to go!</p>
      <%= link_to "Add your first app", server_path(@server), class: "button is-primary" %>
    </div>
  </div>
</div>

<script>
  <% if @server.installing? %>
    var poller = new ServerPoller("<%= check_installation_server_path(@server) %>");
    poller.poll();
  <% end %>
</script>
