<div class="heading">
  <h1>Server: <%= server.name %></h1>
  <ul class="nav nav-tabs">
    <li><%= link_to "#{icon("chevron-left")} Server list".html_safe, root_path %></li>
    <li class="<%= "active" if tab == "apps" %>"><%= link_to "Apps", server_apps_path(server) %></li>
    <li class="<%= "active" if tab == "services" %>"><%= link_to "Services", server_services_path(server) %></li>
    <li class="<%= "active" if tab == "deploy_keys" %>"><%= link_to "Deploy keys", server_deploy_keys_path(server) %></li>
  </ul>
</div>
<%= render "flashes" -%>
