<%= content_tag :div, id: dom_id(app), class: "app" do %>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title"><%= link_to app.name, server_app_path(app.server, app) %></p>
    </header>
    <div class="card-content">
      <p><strong>Domain(s):</strong> <%= app.domains.pluck(:name).join(", ").presence || "-" %></p>
      <p><strong>Deploy URL:</strong> dokku@<%= app.server.ip %>:<%= app.clean_name %></p>
      <p><strong>Services:</strong>
      <% app.services.each do |service| %>
        <span class="tag label-primary"><%= service.name %></span>
      <% end %>
      <p><strong>Backups:</strong>
      <% if app.backups_enabled? %>
        <span class="tag is-success">Enabled</span></p>
      <% else %>
        <span class="tag is-danger">Disabled</span></p>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to icon("trash"), server_app_path(app.server, app),
        data: { confirm: "Are you REALLY sure?" }, class: "text-danger card-footer-item", method: :delete %>
    </div>
  </div>
<% end %>
