<%= render "apps/heading", app: @app, tab: "info" %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <th style="width: 20%">Name</th>
        <td><%= @app.name %></td>
        <td class="actions"></td>
      </tr>
      <tr>
        <th style="width: 20%">Deploy URL</th>
        <td>dokku@<%= @app.server.ip %>:<%= @app.clean_name %></td>
        <td></td>
      </tr>
      <tr>
        <th>Domain(s)</th>
        <td><%= @app.domains.pluck(:name).join(", ").presence || "-" %></td>
        <td><%= link_to "Change", server_app_domains_path(@app.server, @app) %></td>
      </tr>
      <tr>
        <th>Active services</th>
        <td><%= @app.services.map(&:name).join(", ").presence || "None" %></td>
        <td><%= link_to "Change", server_app_services_path(@app.server, @app) %></td>
      </tr>
      <%# <tr> %>
      <%#   <th>SSL active</th> %>
      <%#   <td><span class="label label-danger">No</span></td> %>
      <%#   <td><%= link_to "Enable SSL", "#" %1></td> %>
      <%# </tr> %>
    </table>
  </div>
</div>
