<%= render "apps/heading", app: @app, tab: "info" %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <th style="width: 20%">Name</th>
        <td><%= @app.name %></td>
        <td style="width: 20%"></td>
      </tr>
      <tr>
        <th style="width: 20%">Deploy URL</th>
        <td>dokku@<%= @app.server.ip %>:<%= @app.name %></td>
        <td style="width: 20%"></td>
      </tr>
      <tr>
        <th>Domain</th>
        <td><%= @app.domain %></td>
        <td><%# link_to "Change", "#" %></td>
      </tr>
      <tr>
        <th>Active services</th>
        <td><%= @app.services.map(&:name).join(", ").presence || "None" %></td>
        <td><%= link_to "Change", "#" %></td>
      </tr>
      <%# <tr> %>
      <%#   <th>SSL active</th> %>
      <%#   <td><span class="label label-danger">No</span></td> %>
      <%#   <td><%= link_to "Enable SSL", "#" %1></td> %>
      <%# </tr> %>
    </table>
  </div>
</div>
