<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title>Intercity</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag :application, media: "all", "data-turbolinks-track" => "reload" %>
  <%= render "javascript" %>
</head>
<body>
  <%= render "navigation" %>
  <section class="section">
    <div class="container">
      <%= yield %>
    </div>
  </section>
</body>
</html>
