<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title>Intercity</title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= render "javascript" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <%= link_to "Logout", logout_path, method: :delete %>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
