<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="initial-scale=1" />
    <title>Intercity</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag :application, media: "all" %>
    <%= render "javascript" %>
  </head>
  <body class="login">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
